*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color:rgb(24, 20, 20);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 4rem;
    flex-direction: column;
    
    }
.stopwatch{
    background-color: rgb(0, 0, 0.9);
    padding: 25px 34px;
    border-radius: 1rem;
}
.Ranjit{
    font-weight:bold;
    
}
.btn{
    margin: 1rem;
    font-size: 2rem;
    background:none;
    border:none;
    color: white;
    background-color:var(--clr);
    padding: 5px 16px;


}
